In [1]:
import pandas as pd
!wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/m0c_logistic_regression.py

--2025-04-27 15:59:52--  https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/m0c_logistic_regression.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8003::154, 2606:50c0:8000::154, 2606:50c0:8001::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8003::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 827 [text/plain]
Saving to: ‘m0c_logistic_regression.py’

m0c_logistic_regres 100%[===================>]     827  --.-KB/s    in 0s

2025-04-27 15:59:52 (24.5 MB/s) - ‘m0c_logistic_regression.py’ saved [827/827]

In [9]:
dataset = pd.read_csv('titanic.csv',index_col=False , sep=',',header=0)
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
print(dataset.isnull().sum())
print(f"The shape and the size of the dataset is: {dataset.shape}")

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
The shape and the size of the dataset is: (891, 12)

In [11]:
dataset['Cabin'].fillna('Unknown',inplace= True)

/tmp/ipykernel_9539/68865008.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Cabin'].fillna('Unknown',inplace= True)

In [15]:
print(dataset.dropna(subset=["Age"],inplace=True))
print(dataset.isnull().sum())

None
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64

In [ ]:
dataset.drop(["PassengerId","Name","Ticket"],axis="columns",inplace=True)

dataset.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare    Cabin Embarked
0         0       3    male  22.0      1      0   7.2500  Unknown        S
1         1       1  female  38.0      1      0  71.2833      C85        C
2         1       3  female  26.0      0      0   7.9250  Unknown        S
3         1       1  female  35.0      1      0  53.1000     C123        S
4         0       3    male  35.0      0      0   8.0500  Unknown        S

In [18]:
from m0c_logistic_regression import train_logistic_regression
features = ["Age", "Pclass", "SibSp", "Parch", "Fare"] 
loss_numerical_only = train_logistic_regression(dataset, features)
print(f"Numerical-Only, Log-Loss (cost): {loss_numerical_only}")

Numerical-Only, Log-Loss (cost): 0.6121682789483441

this cost =>  0.612167

In [ ]:
dataset["Isfemale"] = dataset.Sex.replace({'male':0,'female':1})
print(dataset.head())

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare    Cabin Embarked  \
0         0       3    male  22.0      1      0   7.2500  Unknown        S
1         1       1  female  38.0      1      0  71.2833      C85        C
2         1       3  female  26.0      0      0   7.9250  Unknown        S
3         1       1  female  35.0      1      0  53.1000     C123        S
4         0       3    male  35.0      0      0   8.0500  Unknown        S

   Isfemale
0         0
1         1
2         1
3         1
4         0

Numerical + Sex, Log-Loss (cost): 0.4707118595966243

/tmp/ipykernel_9539/4193736205.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset["Isfemale"] = dataset.Sex.replace({'male':0,'female':1})

In [22]:
features = ["Age", "Pclass", "SibSp", "Parch", "Fare", "Isfemale"] 
loss_binary_categoricals = train_logistic_regression(dataset, features)

print(f"\nNumerical + Sex, Log-Loss (cost): {loss_binary_categoricals}")

Numerical + Sex, Log-Loss (cost): 0.4707118595966243

# One-Hot Encoding

In [26]:
# Get all possible categories for the "PClass" column
print(f"Possible values for PClass: {dataset['Pclass'].unique()}")

# Use Pandas to One-Hot encode the PClass category
dataset_with_one_hot = pd.get_dummies(dataset, columns=["Pclass"], drop_first=False)

# Add back in the old Pclass column, for learning purposes
dataset_with_one_hot["Pclass"] = dataset.Pclass

# Print out the first few rows
print(dataset_with_one_hot.head())

Possible values for PClass: [3 1 2]
   Survived     Sex   Age  SibSp  Parch     Fare    Cabin Embarked  Isfemale  \
0         0    male  22.0      1      0   7.2500  Unknown        S         0
1         1  female  38.0      1      0  71.2833      C85        C         1
2         1  female  26.0      0      0   7.9250  Unknown        S         1
3         1  female  35.0      1      0  53.1000     C123        S         1
4         0    male  35.0      0      0   8.0500  Unknown        S         0

   Pclass_1  Pclass_2  Pclass_3  Pclass
0     False     False      True       3
1      True     False     False       1
2     False     False      True       3
3      True     False     False       1
4     False     False      True       3

In [29]:
features = ["Age", "SibSp", "Parch", "Fare", "Isfemale",
            "Pclass_1", "Pclass_2", "Pclass_3"]

loss_pclass_categorical = train_logistic_regression(dataset_with_one_hot, features)

print(f"\nNumerical, Sex, Categorical Pclass, Log-Loss (cost): {loss_pclass_categorical}")

Numerical, Sex, Categorical Pclass, Log-Loss (cost): 0.4717302923736227

In [32]:
# Use Pandas to One-Hot encode the Cabin and Pclass categories
dataset_with_one_hot = pd.get_dummies(dataset, columns=["Pclass", "Cabin"], drop_first=False)

# Find cabin column names
cabin_column_names = list(c for c in dataset_with_one_hot.columns if c.startswith("Cabin_"))

# Print out how many cabins there were
print(len(cabin_column_names), "cabins found")

# Make a list of features
features = ["Age", "SibSp", "Parch", "Fare", "Isfemale",
            "Pclass_1", "Pclass_2", "Pclass_3"] + \
            cabin_column_names

print(cabin_column_names)

135 cabins found
['Cabin_A10', 'Cabin_A16', 'Cabin_A20', 'Cabin_A23', 'Cabin_A24', 'Cabin_A26', 'Cabin_A31', 'Cabin_A34', 'Cabin_A36', 'Cabin_A5', 'Cabin_A6', 'Cabin_A7', 'Cabin_B101', 'Cabin_B18', 'Cabin_B19', 'Cabin_B20', 'Cabin_B22', 'Cabin_B28', 'Cabin_B3', 'Cabin_B30', 'Cabin_B35', 'Cabin_B37', 'Cabin_B38', 'Cabin_B39', 'Cabin_B4', 'Cabin_B41', 'Cabin_B42', 'Cabin_B49', 'Cabin_B5', 'Cabin_B50', 'Cabin_B51 B53 B55', 'Cabin_B57 B59 B63 B66', 'Cabin_B58 B60', 'Cabin_B69', 'Cabin_B71', 'Cabin_B73', 'Cabin_B77', 'Cabin_B79', 'Cabin_B80', 'Cabin_B82 B84', 'Cabin_B86', 'Cabin_B94', 'Cabin_B96 B98', 'Cabin_C101', 'Cabin_C103', 'Cabin_C104', 'Cabin_C110', 'Cabin_C111', 'Cabin_C118', 'Cabin_C123', 'Cabin_C124', 'Cabin_C125', 'Cabin_C126', 'Cabin_C148', 'Cabin_C2', 'Cabin_C22 C26', 'Cabin_C23 C25 C27', 'Cabin_C30', 'Cabin_C32', 'Cabin_C45', 'Cabin_C46', 'Cabin_C49', 'Cabin_C50', 'Cabin_C52', 'Cabin_C54', 'Cabin_C62 C64', 'Cabin_C65', 'Cabin_C68', 'Cabin_C7', 'Cabin_C70', 'Cabin_C78', 'Cabin_C82', 'Cabin_C83', 'Cabin_C85', 'Cabin_C86', 'Cabin_C87', 'Cabin_C90', 'Cabin_C91', 'Cabin_C92', 'Cabin_C93', 'Cabin_C99', 'Cabin_D', 'Cabin_D10 D12', 'Cabin_D11', 'Cabin_D15', 'Cabin_D17', 'Cabin_D19', 'Cabin_D20', 'Cabin_D26', 'Cabin_D28', 'Cabin_D30', 'Cabin_D33', 'Cabin_D35', 'Cabin_D36', 'Cabin_D37', 'Cabin_D46', 'Cabin_D47', 'Cabin_D48', 'Cabin_D49', 'Cabin_D50', 'Cabin_D56', 'Cabin_D6', 'Cabin_D7', 'Cabin_D9', 'Cabin_E10', 'Cabin_E101', 'Cabin_E12', 'Cabin_E121', 'Cabin_E17', 'Cabin_E24', 'Cabin_E25', 'Cabin_E31', 'Cabin_E33', 'Cabin_E34', 'Cabin_E36', 'Cabin_E38', 'Cabin_E40', 'Cabin_E44', 'Cabin_E46', 'Cabin_E49', 'Cabin_E50', 'Cabin_E58', 'Cabin_E63', 'Cabin_E67', 'Cabin_E68', 'Cabin_E77', 'Cabin_E8', 'Cabin_F G63', 'Cabin_F G73', 'Cabin_F2', 'Cabin_F33', 'Cabin_F4', 'Cabin_G6', 'Cabin_T', 'Cabin_Unknown']

In [34]:
dataset_with_one_hot.head(3)

,Survived,Sex,Age,SibSp,Parch,Fare,Embarked,Isfemale,Pclass_1,Pclass_2,...,Cabin_E77,Cabin_E8,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F4,Cabin_G6,Cabin_T,Cabin_Unknown
0,0,male,22.0,1,0,7.2500,S,0,False,False,...,False,False,False,False,False,False,False,False,False,True
1,1,female,38.0,1,0,71.2833,C,1,True,False,...,False,False,False,False,False,False,False,False,False,False
2,1,female,26.0,0,0,7.9250,S,1,False,False,...,False,False,False,False,False,False,False,False,False,True

In [33]:
# Run the model and print the result
loss_cabin_categorical = train_logistic_regression(dataset_with_one_hot, features)

print(f"\nNumerical, Sex, Categorical Pclass, Cabin, Log-Loss (cost): {loss_cabin_categorical}")

Numerical, Sex, Categorical Pclass, Cabin, Log-Loss (cost): 0.4600048688202762

In [40]:
# We have cabin names, like A31, G45. The letter refers to the deck that
# the cabin was on. Extract just the deck and save it to a column. 
dataset["Deck"] = [c[0] for c in dataset.Cabin]

print("Decks: ", sorted(dataset.Deck.unique()))

# Create one-hot vectors for:
# Pclass - the class of ticket. (This could be treated as ordinal or categorical)
# Deck - the deck that the cabin was on
dataset_with_one_hot = pd.get_dummies(dataset, columns=["Pclass", "Deck"], drop_first=False)
print(dataset_with_one_hot)
# Find the deck names
deck_of_cabin_column_names = list(c for c in dataset_with_one_hot.columns if c.startswith("Deck_"))
 
features = ["Age", "Isfemale", "SibSp", "Parch", "Fare", 
            "Pclass_1", "Pclass_2", "Pclass_3",
            "Deck_A", "Deck_B", "Deck_C", "Deck_D", 
            "Deck_E", "Deck_F", "Deck_G", "Deck_U", "Deck_T"]

Decks:  ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T', 'U']
     Survived     Sex   Age  SibSp  Parch     Fare    Cabin Embarked  \
0           0    male  22.0      1      0   7.2500  Unknown        S
1           1  female  38.0      1      0  71.2833      C85        C
2           1  female  26.0      0      0   7.9250  Unknown        S
3           1  female  35.0      1      0  53.1000     C123        S
4           0    male  35.0      0      0   8.0500  Unknown        S
..        ...     ...   ...    ...    ...      ...      ...      ...
885         0  female  39.0      0      5  29.1250  Unknown        Q
886         0    male  27.0      0      0  13.0000  Unknown        S
887         1  female  19.0      0      0  30.0000      B42        S
889         1    male  26.0      0      0  30.0000     C148        C
890         0    male  32.0      0      0   7.7500  Unknown        Q

     Isfemale  Pclass_1  ...  Pclass_3  Deck_A  Deck_B  Deck_C  Deck_D  \
0           0     False  ...      True   False   False   False   False
1           1      True  ...     False   False   False    True   False
2           1     False  ...      True   False   False   False   False
3           1      True  ...     False   False   False    True   False
4           0     False  ...      True   False   False   False   False
..        ...       ...  ...       ...     ...     ...     ...     ...
885         1     False  ...      True   False   False   False   False
886         0     False  ...     False   False   False   False   False
887         1      True  ...     False   False    True   False   False
889         0      True  ...     False   False   False    True   False
890         0     False  ...      True   False   False   False   False

     Deck_E  Deck_F  Deck_G  Deck_T  Deck_U
0     False   False   False   False    True
1     False   False   False   False   False
2     False   False   False   False    True
3     False   False   False   False   False
4     False   False   False   False    True
..      ...     ...     ...     ...     ...
885   False   False   False   False    True
886   False   False   False   False    True
887   False   False   False   False   False
889   False   False   False   False   False
890   False   False   False   False    True

[714 rows x 21 columns]

In [39]:
loss_deck = train_logistic_regression(dataset_with_one_hot, features)

print(f"\nSimplifying Cabin Into Deck, Log-Loss (cost): {loss_deck}")

Simplifying Cabin Into Deck, Log-Loss (cost): 0.4588927791855666

In [38]:
# Use a dataframe to create a comparison table of metrics
# Copy metrics from previous Unit

l =[["Numeric Features Only", loss_numerical_only],
    ["Adding Sex as Binary", loss_binary_categoricals],
    ["Treating Pclass as Categorical", loss_pclass_categorical],
    ["Using Cabin as Categorical", loss_cabin_categorical],
    ["Using Deck rather than Cabin", loss_deck]]

pd.DataFrame(l, columns=["Dataset", "Log-Loss (Low is better)"])

                          Dataset  Log-Loss (Low is better)
0           Numeric Features Only                  0.612168
1            Adding Sex as Binary                  0.470712
2  Treating Pclass as Categorical                  0.471730
3      Using Cabin as Categorical                  0.460005
4    Using Deck rather than Cabin                  0.458893